// COLORS
$primary-color: #512051;
$secondary-color: #927B91;
$primary-white: #FFFFFF;
$final-color: #EE69A4;

// FONTS
$primary-font-family: 'League Spartan', sans-serif;

// FONT-SIZE AND LINE-HEIGHT
$bigest-size: 56px;
$bigest-line-height: 48px;
$text-bigest-size: 19px;
$text-bigest-line-height: 25px;
$info-size: 17px;
$info-line-height: 15.64px;
$comment-line-height: 22px;
